<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Resume Builder 2025</title>
    <link rel="stylesheet" href="/static/css/index.css">

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G26FCTWQQP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-G26FCTWQQP');
</script>
<link rel="icon" type="image/png" href="/static/images/Ats.jpg">

</head>
<body>

    <!-- Navbar -->
    <div class="navbar">
        <h1>Hirefire AI </h1>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/contact/">Contact us </a>
        </div>
    </div>

    <!-- Hero Section -->
    <div class="hero">
        <h1>Build Your Resume Smartly</h1>
        <p>Create, analyze, and improve your resume with AI</p>

    </div>

    <!-- Features Section -->
    <div class="features">
        <div class="card">
            <img src="/static/images/resume_builder.jpg" alt="Resume Creator">
            <h3>Resume Creator</h3>
            <p>Generate a professional resume with different themes.</p>
            <button onclick="window.location.href='/resume-builder/'">Try Now</button>
        </div>

        <div class="card">
            <img src="/static/images/Ats.jpg" alt="ATS Score Check">
            <h3>ATS Score Check</h3>
            <p>Analyze your resume and get an ATS compatibility score.</p>
            <button onclick="window.location.href='/ats-score-check/'">Check Score</button>
        </div>

        <div class="card">
            <img src="/static/images/find-job.jpg" alt="Job Finder">
            <h3>Job Finder</h3>
            <p>Find jobs based on your resume data and skills.</p>
            <button onclick="window.location.href='/job-find/'">Find Jobs</button>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <p><a href="/about/"><b>Know About us</b></a> </p><br>
        <p>&copy; 2025 AI Resume Builder | Designed with ❤️</p>
    </div>

</body>
</html>
